@import "tailwindcss";

@theme {
  --color-primary: #5664f5;
}

@layer components {
  .sidebar-button {
    @apply w-full bg-white rounded-xl p-4 flex items-center gap-3 text-left cursor-pointer hover:shadow-lg hover:bg-indigo-200 hover:scale-105 transition-shadow;
  }

  .sidebar-button-text {
    @apply font-semibold text-gray-800;
  }
}